# .env

DEBUG=True
SECRET_KEY=your-secret-key

# Database configuration
DATABASE_URL=postgres://user:password@localhost:5432/dbname
FIREBASE_CREDENTIALS_PATH=path/to/your/firebase/credentials.json
CLIENT_URL=http://localhost:3000

# JWT secret key
JWT_SECRET=this_is_a_sample_secret_key
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=fived666@gmail.com
SMTP_PASSWORD=your_email_password
EMAIL_FROM=fived666@gmail.com

# Google OAuth configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3100/v1/auth/google/callback
